 
USE [BOOKMANAGEMENT]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [dev2]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [dev2]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [dev2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [dev2]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [dev2]
GO
CREATE SCHEMA [BMG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BMG].[BOOK](
	[ID] [varchar](36) NOT NULL,
	[TITLE] [nvarchar](500) NOT NULL,
	[AUTHOR] [nvarchar](500) NULL,
	[PUBLISHER] [nvarchar](500) NULL,
	[GENRES] [nvarchar](500) NULL,
	[TOTAL_PAGES] [int] NOT NULL,
	[ISBN] [varchar](50) NOT NULL,
	[PUBLISHED_YEAR] [int] NULL,
	[BOOK_LANGUAGE] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_BOOK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
